---
- name: Install composer
  shell: curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
  sudo: true

- name: Run composer install
  composer: command=install working_dir={{workspace}}labs-json-api prefer_dist=yes no_dev=yes

- name: Copy compiled repo over to dist
  shell: rsync -av --exclude=".*"  {{workspace}}labs-json-api {{dist}}